body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.todo-app {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #c830d3;
    padding: 10px;
    border-radius: 5px;
    
}

h1 {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

li:last-child {
    border-bottom: none;
}